<ion-content [fullscreen]="true">

  <div class="main">
    <button class="addChannel" *ngIf="isLocalDev">Añadir canal</button>
    <br><br>
    <div class="channelList">
      <ion-card tabindex="0" (keyup.enter)="redirectToPlayer(ch.iframeUrl)" (click)="redirectToPlayer(ch.iframeUrl)"  *ngFor="let ch of channels" >
        <img alt="" src={{ch.logo}} />
        <ion-card-header>
          <ion-card-title>{{ch.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    
  </div>

</ion-content>