<ion-content [fullscreen]="true">

  <div class="main">
    <button class="addChannel" *ngIf="isLocalDev">Añadir canal</button>
    <div class="channelList">
      <ion-card tabindex="0" *ngFor="let ch of channels; let i = index"  (keyup.enter)="redirectToPlayer(ch.iframeUrl)" 
      (keydown)="move($event, i)"
      (click)="redirectToPlayer(ch.iframeUrl)"
      id="channel_{{i}}"  >
        <img alt="" src={{ch.logo}} />
        <ion-card-header>
          <ion-card-title>{{ch.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    
  </div>

</ion-content>